body {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  padding: 0;
  background: #E5E5E5;
}

nav.navbar > img {
  width: 100%;
}

nav.navbar > div {
  position: absolute;
  top: 20px;
  color: #FFF;
}

nav.navbar > div, div.navbar-body, .navbar-content {
  width: 98%;
}

.img1, .img2 {
  margin: -3px 0;
}

div.navbar-body {
  display: flex;
  justify-content: space-between;
}

.navbar-body a {
  color: #FFF;
}

div.icon {
  width: 50%;
  margin: 0;
  margin-left: 15px;
  display: flex;
}

div.icon div {
  font-size: 0.8rem;
  position: absolute;
  top: 5px;
  left: 52px;
  margin: 0 6px;
}

#list {
  display: none;
}

div.social-top {
  display: none;
}

div.hidden-nav {
  display: none;
}

div.show-nav {
  display: block;
  float: right;
  position: absolute;
  top: 30px;
  right: 20px;
  background: rgba(0,0,0,0.2);
  width: 100%;
  text-align: right;
}

div.show-nav ul {
  list-style-type: none;
}

div.show-nav ul li {
  display: inline;
  padding: 0 1vw;
}

div.toggle {
  margin: 5px 30px;
}

div.toggle div {
  width: 20px;
  height: 3px;
  background: #fff;
  margin: 2px;
  border-radius: 2px;
}

div.main {
  width: 80vw;
  text-align: center;
  margin: 20px 10vw;
}

.main button {
  background: #0267C1;
  border-radius: 10px;
  box-shadow: none;
  outline: none;
  border: none;
  color: #FFF;
  width: 45%;
  margin: 0 auto;
  padding: 7px
}

.fa-long-arrow-right {
  margin-left: 4px;
}

i.fa.fa-play {
  color: #FFF;
  background: #0267C1;
  text-align: center;
  width: 30px;
  padding: 10px 0;
  border-radius: 30px;
  position: relative;
  bottom: 20px;
  float: right;
  margin-right: 20px;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
}

.navbar-content ul {
  list-style-type: none;
  font-size: 0.8rem;
  width: 25vw;
  margin: 5px auto;
  padding: 0;
  text-align: center;
}

.navbar-content ul li {
  border-bottom: 1px solid grey;
}

div.body {
  width: 85vw;
  margin: 0 auto;
  position: relative;
  top: -25px;
}

div.body .stories {
  display: flex;
  width: 85vw;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

div.body .stories li {
  flex: 0 0 100%;
}

div.card > img{
  width: 100%;
}

div.card {
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
  background: #FFF;
  border-radius: 10px 10px 5px 5px;
  font-size: 0.7rem;
  height: auto;
  margin-bottom: 30px;
}

p.title {
  color: #0267C1;
  margin: 2px;
}

p.subtitle {
  color: rgba(48, 47, 47, 0.71);
  font-weight: bold;
  font-size: 1rem;
  margin: 6px 2px;
}

div.card > div {
  height: 170px;
  overflow: auto;
  width: 90%;
  margin: 5px auto;
}

ul.end {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  overflow-x: auto;
  display: flex;
  font-size: 0.8rem;
}

ul.end div p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #6D6363;
}

div.social {
  color: #6D6363;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

div.social i {
  margin: 10px;
}

/* Begining of media queries */
@media (min-width: 560px) {
  .img2 {
    height: 100px;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 0;
  }

  div.main, .navbar-content ul, div.main p {
    margin: 0
  }

  div.main {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2vw;
  }

  .navbar-content ul {
    text-align: right;
    margin-right: 2vw;
    width: 20vw;
  }

  .navbar-content ul li {
    margin-bottom: 5vh;
  }

  div.main button {
    margin-top: 3vh
  }
  
  div.footer {
    margin-top: -10vh;
  }

  ul.end {
    width: 100%;
    flex-flow: row wrap;
    display: flex;
  }

  ul.end img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  ul.end li {
    flex: 0 0 33%;
  }

  div.social {
    width: 20%;
  }
}

@media (min-width: 630px) {
  div.body {
    top: -80px;
  }

  div.body .stories, div.body {
    width: 95vw;
  }

  div.body .stories li {
    flex: 0 0 46.5%;
    margin: 10px;
  }  

  div.social {
    width: 15%
  }
}

@media (min-width: 750px) {
  .toggle {
    display: none;
  }
  div.icon {
    width: 40vw;
  }
  #list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 2vw;
    list-style-type: none;
    float: right;
  }

  #list li {
    margin: 0 5px;
  }

  #list li:hover {
    text-decoration: underline;
  }

  #list li a {
    text-decoration: none;
  }

  #list > :first-child {
    text-decoration: underline;
  }

  div.social-top {
    display: flex;
  }

  div.social-top i {
    margin: 2px 1vw;
  }

  div.social {
    width: 10%;
  }
}

@media (min-width: 890px) {
  .img2 {
    display: none;
  }

  ul.end {
    width: 95vw;
    margin: 0 auto;
  }

  ul.end div {
    display: flex;
  }

  ul.end div p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 8px;
    text-align: left;
  }
}

@media (min-width: 1020px) {
  #list {
    margin-right: 1.2vw; 
  }

  #list li {
    margin: 0 15px;
  }

  div.navbar-content {
    margin-top: 100px;
  }

  div.main {
    margin-left: 70px;
  }

  div.main p {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 7vh;
  }

  div.main button {
    width: 10vw;
  }

  div.body .stories li {
    flex: 0 0 31%;
    margin: 10px;
  } 

  .pull-up {
    position: relative;
    bottom: 170px
  }

  div.body .stories, div.body {
    width: 88vw;
  }

  div.card > div {
    height: auto;
  }

  .navbar-content ul {
    width: 13vw;
  }

  .navbar-content ul li {
    margin-bottom: 12vh;
    font-size: 0.8rem;
  }

  div.footer {
    margin-top: -30vh;
  }

  ul.end {
    width: 90vw;
    margin: 0 auto;
  }

  ul.end div p {
    width: 150px;
  }

}