@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaNeue\ Light.ttf')
}

body {
  margin: 0;
  padding: 0;
  background: #F4F7FC;
  font-family: 'Helvetica' !important;
}

div.container-fluid {
  padding: 0;
}

div.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div.navbar,
div.sidebar-nav {
  width: 100%;
  height: 10vh;
  box-shadow: 0px 4.5px 18px rgba(0, 0, 0, 0.1);
}

div.toggle div {
  width: 20px;
  height: 3px;
  background: #0271EE;
  margin: 2px;
  border-radius: 2px;
}

form button {
  background: none;
  margin: 0;
  outline: none;
  border: none;
}

form .search {
  border: none;
  color: #A9B3D2;
}

form button,
form .search::placeholder {
  color: #A9B3D2;
  opacity: 0.7;
  line-height: 1.7;
  font-size: 14.625px;
}

div.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0271EE;
}

div.user-profile-avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #A9B3D2;
  margin-right: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10vh;
  right: -3px;
  background-color: #FFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  white-space: nowrap;
  align-items: center;
  display: flex;
  color: #A9B3D2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a#create-documentation {
  background: linear-gradient(101.13deg, #F46B45 0%, #EEA849 100%);
  border-radius: 4.5px 4.5px 0 0;
  width: 100%;
  justify-content: space-between;
  color: #FFF;
}

.dropdown-content a div {
  margin-left: 5px;
}

/********************************
        SIDE NAV STYLES
********************************/
.sidenav {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFF;
}

.sidenav-sidemenu,
.sidenav {
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
}

div.sidebar {
  display: flex;
  justify-content: space-between;
}

div.sidebar-nav {
  background: #FFF;
  position: relative;
}

.sidebar-nav-options {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.sidenav .closebtn {
  color: #0271EE;
}

.sidenav-sidemenu {
  height: 90vh;
  background: linear-gradient(180deg, #0072FF 0%, #00C6FF 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.top-icons {
  width: 100%;
  padding-top: 20px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-icons div {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.top-icons hr {
  height: 40px;
  width: 4px;
  position: absolute;
  left: 0;
  top: -10px;
  background: #2BE1CB;
  margin: 0;
  border-radius: 0 40px 40px 0;
}

.last-icon {
  position: absolute;
  bottom: 1.7rem;
}

.sidenav-content {
  padding: 10px;
  height: 90vh;
  overflow-y: auto;
}

.sidenav-content span.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.sidenav-content span.header>p:first-child {
  font-size: 1.5rem;
  color: #434B65;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
}

.sidenav-content span.header :last-child {
  display: flex;
  align-items: flex-end;
  color: #9AA6CE;
  font-weight: 600;
  padding-bottom: 4px;
}

.sidenav-content span.header :last-child p {
  margin: 0 6px;
}

div.patient {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 0 5px;
}

div.patient:hover {
  background: #F4F7FC;
  border-radius: 4.5px;
}

div.patient .user-profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background: linear-gradient(180deg, #A26FED 0%, #EE86BF 100%);
}

div#leen {
  background: linear-gradient(180deg, #FB72AE 0%, #F25555 100%);
}

div#rowan {
  background: linear-gradient(180deg, #B482D3 0%, #A2ACF1 100%);
}

div#allan {
  background: linear-gradient(180deg, #FFB064 0%, #FFE35A 100%);
}

div#neil {
  background: linear-gradient(180deg, #45BAF2 0%, #77EFD8 100%);
}

div.patient .user-profile-avatar p {
  margin: 0;
  font-size: 19.4252px;
  font-weight: 900;
}

div.user-info {
  margin-left: 10%;
}

.name-gender,
.age-condition {
  display: flex;
  align-items: center;
}

.name-gender p,
.age-condition p {
  margin: 2px 0;
}

.name-gender p {
  font-size: 15.75px;
  margin-right: 5px;
  color: #434B65;
}

.age-condition p {
  font-size: 14.625px;
  color: #ADAEB4;
}

.age-condition p:nth-child(2) {
  position: relative;
  top: -5px;
  font-size: 20px;
  margin: 0 5px;
}