@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeue\ Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica" !important;
}

div.container-fluid {
  padding: 0;
  background: #f4f7fc;
}

div.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div.navbar,
div.sidebar-nav {
  background: #fff;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 4.5px 18px rgba(0, 0, 0, 0.1);
}

div.toggle div {
  width: 20px;
  height: 3px;
  background: #0271ee;
  margin: 2px;
  border-radius: 2px;
}

form button {
  background: none;
  margin: 0;
  outline: none;
  border: none;
}

form .search {
  border: none;
  color: #a9b3d2;
}

form button,
form .search::placeholder {
  color: #a9b3d2;
  opacity: 0.7;
  line-height: 1.7;
  font-size: 14.625px;
}

div.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0271ee;
}

div.user-profile-avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #a9b3d2;
  margin-right: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10vh;
  right: -3px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  white-space: nowrap;
  align-items: center;
  display: flex;
  color: #a9b3d2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a#create-documentation {
  background: linear-gradient(101.13deg, #f46b45 0%, #eea849 100%);
  border-radius: 4.5px 4.5px 0 0;
  width: 100%;
  justify-content: space-between;
  color: #fff;
}

.dropdown-content a div {
  margin-left: 5px;
}

/********************************
        SIDE NAV STYLES
********************************/
.sidenav {
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
}

.sidenav-sidemenu,
.sidenav {
  width: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
}

div.sidebar {
  display: flex;
  justify-content: space-between;
  height: 90%;
}

div.sidebar-nav {
  background: #fff;
  position: relative;
  height: 10%;
}

.sidebar-nav-options {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.sidenav .closebtn {
  color: #0271ee;
}

.sidenav-sidemenu {
  height: 100%;
  background: linear-gradient(180deg, #0072ff 0%, #00c6ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.top-icons {
  width: 100%;
  padding-top: 20px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-icons div {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.top-icons hr {
  height: 40px;
  width: 4px;
  position: absolute;
  left: 0;
  top: -10px;
  background: #2be1cb;
  margin: 0;
  border-radius: 0 40px 40px 0;
}
/* 
.last-icon {
  position: relative;
  bottom: 1.7rem;
} */

.sidenav-content {
  padding: 10px;
  height: 90vh;
  overflow-y: auto;
  padding-bottom: 40px;
}

.sidenav-content span.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.sidenav-content span.header > p:first-child {
  font-size: 1.5rem;
  color: #434b65;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
}

.sidenav-content span.header :last-child {
  display: flex;
  align-items: flex-end;
  color: #9aa6ce;
  font-weight: 600;
  padding-bottom: 4px;
}

.sidenav-content span.header :last-child p {
  margin: 0 6px;
}

div.patient {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 0 5px;
}

div.patient:hover {
  background: #f4f7fc;
  border-radius: 4.5px;
}

div.patient .user-profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(180deg, #a26fed 0%, #ee86bf 100%);
}

div#leen {
  background: linear-gradient(180deg, #fb72ae 0%, #f25555 100%);
}

div#rowan {
  background: linear-gradient(180deg, #b482d3 0%, #a2acf1 100%);
}

div#allan {
  background: linear-gradient(180deg, #ffb064 0%, #ffe35a 100%);
}

div#neil {
  background: linear-gradient(180deg, #45baf2 0%, #77efd8 100%);
}

div.patient .user-profile-avatar p {
  margin: 0;
  font-size: 19.4252px;
  font-weight: 900;
}

div.user-info {
  margin-left: 10%;
}

.name-gender,
.age-condition {
  display: flex;
  align-items: center;
}

.name-gender p,
.age-condition p {
  margin: 2px 0;
}

.name-gender p {
  font-size: 15.75px;
  margin-right: 5px;
  color: #434b65;
}

.name-gender img {
  position: relative;
  top: -2px;
}

.age-condition p {
  font-size: 14.625px;
  color: #adaeb4;
}

.age-condition p:nth-child(2) {
  position: relative;
  top: -5px;
  font-size: 20px;
  margin: 0 5px;
}

/******************************
      MAIN SCREEN STYLES
******************************/

div.selected-user {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

div.selected-user-image {
  box-shadow: 0px 4.5px 13.5px rgba(0, 0, 0, 0.1);
  width: 63px;
  height: 63px;
  border-radius: 63px;
  margin-right: 5%;
}

.selected-user p {
  margin: 0;
}

p.selected-user-name {
  font-size: 27px;
  font-weight: 900;
  color: #434b65;
}

span.selected-user-details {
  display: flex;
  align-items: center;
  font-size: 14.625px;
  color: #adaeb4;
}

div.tiny-circle {
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background: #adaeb4;
  margin: 0 7px;
}

div.navigation {
  width: 100%;
  border-bottom: 2px solid #a9b3d2;
}

div.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

div.links a {
  font-size: 14.625px;
  color: #008eff;
  text-decoration: none;
}

div.links div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  white-space: nowrap;
  margin: 0 10px;
}

div.selected-navmenu hr {
  width: 120%;
  height: 4px;
  border-radius: 10px 10px 0 0;
  margin: 10px 0 0 0;
  position: relative;
  bottom: -2px;
}

hr.hidden-line {
  background: none;
  border: none;
}

hr.show-line {
  background: #008eff;
}

/*****************************
    ABOUT USERS STYLES
*****************************/
div.about-user {
  padding: 20px 30px;
}

p.p-contact {
  font-size: 14.625px;
  color: #adaeb4;
  margin: 0 0 0 10%;
}

div.contact-details {
  margin-top: 13px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.contacts-card {
  flex: 0 0 80%;
  box-sizing: border-box;
  border-radius: 9px;
  height: 40vh;
  margin: 10px 0;
}

div.contacts-card.empty {
  border: 1.6875px dashed #a9b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.contacts-card.filled {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p.contact-name {
  font-size: 20.5px;
  color: #434b65;
  font-weight: 900;
  margin: 5px;
}

p.contact-age {
  font-size: 13.5px;
  color: #adaeb4;
}

div.reach-out {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
}

div.contacts-card p:last-child {
  font-size: 14.625px;
  text-align: center;
  color: #a9b3d2;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

p.diag {
  font-size: 14.625px;
  color: #adaeb4;
  margin: 0 0 0 2%;
}

div.diagnosis {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.d-nosis {
  flex: 0 0 100%;
  background: #fff;
  border-radius: 9px;
  padding: 1rem;
  margin: 6px 0;
}

div.condition {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14.625px;
  letter-spacing: 0.01em;
  color: #434b65;
}

div.condition img {
  position: relative;
  top: 3px;
}

div.d-nosis > p {
  font-size: 13.5px;
  color: #adaeb4;
  margin-bottom: 0;
}
