body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.frame {
  width: 100vw;
  height: 100vh;
  background: #edf0f2;
  position: relative;
}

div.top {
  height: 4vh;
  width: 100%;
  background: #d2dbe0;
  position: sticky;
}

div.top > span.shapes {
  float: right;
  display: flex;
  width: 60px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

div.top > span.shapes div:not(.triangle) {
  width: 13px;
  height: 13px;
  background: #82929a;
}

div.top > span.shapes div.circle {
  border-radius: 13px;
}

div.top > span.shapes div.triangle {
  width: 0;
  height: 0;
  border-top: 13px solid #82929a;
  border-right: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-bottom: 0px solid transparent;
}

div.body {
  overflow: auto;
  height: 90vh;
}

div.content {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

div.dummy {
  height: 65px;
}

div.content .card {
  background: #fefefe;
  width: 92%;
  margin: 2% 1%;
  padding: 20px 10px;
}

p {
  margin: 0;
}

span.topic {
  display: flex;
  justify-content: space-between;
}

p.header,
p.title {
  margin-bottom: 10px;
}

p.header {
  color: #747f86;
}

p.title {
  color: #223035;
  font-size: 1.3rem;
  font-weight: 900;
}

div.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #747f86;
  text-align: center;
}

div.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 70%;
}

span.details {
  display: flex;
  color: #828d90;
  font-size: 1.1rem;
}

span.details img {
  margin: -3px 12px 0 0;
}

div.slider {
  width: 100%;
  height: 100px;
  display: flex;
  overflow-x: auto;
}

div.slider img {
  width: 45%;
  margin: 0 10px 0 0;
}

div.show-more-div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

span.vacation {
  display: flex;
  justify-content: space-around;
}

span.vacation div {
  flex: 0 0 45%;
}

div.parrot-img img {
  width: 100%;
}

p.vacation-idea {
  font-weight: bold;
  color: #54646b;
}

div.content.reunion {
  width: 90%;
  margin: 1%;
  background: #fefefe;
  padding: 4%;
}

div.header {
  display: flex;
  flex-direction: column;
}

.reunion > p {
  margin: 15px 0;
  color: #808a8f;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: left;
}

#reunion-header,
#reunion-sub-head {
  display: flex;
  justify-content: space-between;
}

#reunion-header p {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #223035;
  width: 70%;
}

#hansen {
  color: #8c969a;
  font-size: 0.9rem;
  font-weight: 600;
}

#to-whom {
  color: #9cabb2;
  font-size: 0.8rem;
}

#reunion-header i {
  color: #54646b;
}

a.show-more {
  background: #82929a;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  box-shadow: 3px 5px 2px #d2dbe0;
  position: relative;
}

div.bottom-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div.footer {
  height: 8vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  bottom: 0;
}

div.fab {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  background: #faab1a;
  position: relative;
  top: 3.3vh;
  text-align: center;
  display: block;
}

div.fab img {
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 13px;
}

div.footer div:not(.semi-circle) {
  width: 42%;
  border: 1.3px solid #344955;
  border-bottom: 0;
  border-top: 0;
  background: #344955;
}

div.semi-circle {
  width: 60px;
  position: relative;
  overflow: hidden;
  background: transparent;
}

div.semi-circle:before {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0px 300px 0px 300px #344955;
}

@media (min-width: 600px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 42%;
    margin: 20px;
  }
}

@media (min-width: 1000px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 32%;
    margin: 10px 5px;
  }
}
