body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.frame {
  width: 100vw;
  height: 100vh;
  background: #edf0f2;
}

div.top {
  height: 4vh;
  width: 100%;
  background: #d2dbe0;
  position: sticky;
}

div.top>span.shapes {
  float: right;
  display: flex;
  width: 60px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

div.top>span.shapes div:not(.triangle) {
  width: 13px;
  height: 13px;
  background: #82929a;
}

div.top>span.shapes div.circle {
  border-radius: 13px;
}

div.top>span.shapes div.triangle {
  width: 0;
  height: 0;
  border-top: 13px solid #82929a;
  border-right: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-bottom: 0px solid transparent;
}

div.content {
  position: relative;
  overflow: auto;
  width: 100%;
}

div.content .card {
  background: #fefefe;
  width: 92%;
  margin: 2% 1%;
  padding: 20px 10px;
}

div.bottom-nav {
  position: sticky;
  bottom: 0;
  width: 100%;
}

p {
  margin: 0;
}

span.topic {
  display: flex;
  justify-content: space-between;
}

p.header,
p.title {
  margin-bottom: 10px;
}

p.header {
  color: #747f86;
}

p.title {
  color: #223035;
  font-size: 1.4rem;
  font-weight: 900;
}

div.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid #747f86;
  text-align: center;
}

div.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 70%
}

span.details {
  display: flex;
  color: #828d90;
  font-size: 1.1rem;
}

span.details img {
  margin: -3px 12px 0 0;
}

div.slider {
  width: 100%;
  height: 100px;
  display: flex;
  overflow-x: auto;
}

div.slider img {
  width: 45%;
  margin: 0 10px 0 0;
}

div.footer {
  height: 8vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  bottom: 0;
}

div.fab {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  background: #faab1a;
  position: relative;
  top: 3.3vh;
  text-align: center;
  display: block;
}

div.fab img {
  width: 40%;
  margin: 0 auto;
  position: relative;
  top: 13px;
}

div.footer div:not(.semi-circle) {
  width: 42%;
  border: 1.3px solid #344955;
  border-bottom: 0;
  border-top: 0;
  background: #344955;
}

div.semi-circle {
  width: 16%;
  position: relative;
  overflow: hidden;
  background: transparent;
}

div.semi-circle:before {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0px 300px 0px 300px #344955;
}

@media (min-width: 980px) {
  body {
    display: flex;
  }

  .frame {
    width: 27vw;
  }
}