body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background: #272727;
}

.frame {
  width: 100vw;
  height: 90vh;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 7px 0 rgba(255, 255, 255, 0.2);
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.frame1 {
  background: linear-gradient(135deg, #9a5bd8 0%, #ff9769 100%);
}

div.calculator {
  position: relative;
  background: #fbfbfb;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

div.screen {
  height: 30%;
  padding: 1rem 1rem 0;
  overflow-x: auto;
}

div.menu {
  display: flex;
}

div.black-circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ced3e2;
  margin: 3px;
}

div.screen p {
  text-align: right;
  margin: 3px 0;
}

p.previous {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ced3e2;
}

p.current {
  font-size: 3rem;
}

div.number-pad {
  background: #f5edff;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 75% 25%;
}

div.number-grid {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 3.48rem 3.48rem 3.48rem 3.48rem 3.48rem;
}

div.grid-item {
  text-align: center;
  line-height: 3.4rem;
  border-right: 1px solid #b1aeb3;
  border-top: 1px solid #decfe4;
  font-size: 1.5rem;
  cursor: pointer;
}

div.grid-item.item-col-2 {
  grid-column: 1 / span 2;
  text-align: left;
  padding-left: 20%;
}

div.grid-item.dark {
  background: #f5e1fd;
}

div.sign-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3.48rem;
  background: linear-gradient(180deg, #f6d361 0%, #ff9c66 100%);
  border-bottom-right-radius: 10px;
  color: #fff;
}

div.grid-item.last {
  border-right: none;
  font-size: 1.3rem;
}

/* ********************************
          SECOND FRAME STYLES
******************************** */
.frame2 {
  background: #ecf0f1;
}

div.calculator.calc2 {
  border-radius: 5px;
  box-shadow: 2px 4px 35px 5px rgba(0, 0, 0, 0.2);
}

div.screen.no-padding {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 15%;
}

div.macbook-circle {
  display: flex;
}

div.macbook-circle > div {
  margin: 4px;
  width: 12.5px;
  height: 12.5px;
  border-radius: 12.5px;
}

div.red-circle {
  background: #ff544e;
}

div.yellow-circle {
  background: #ffbd2e;
}

div.green-circle {
  background: #29cc41;
}
p#previous.small--text {
  font-size: 0.7rem;
  font-weight: 600;
}

div.number-pad.font-smaller {
  width: 80%;
  margin: 0 auto;
}

div.grid-item.no-border {
  border: none;
}

div.number-grid.background--white > .grid-item {
  font-size: 1rem;
}

div.sign-grid.background--white {
  color: #3498db;
  font-size: 0.8rem;
}

div.number-grid.background--white {
  color: #8697a5;
}

div.background--white,
div.grid-item.no-border.dark {
  background: #fbfbfb;
}

div.grid-item.item-col-2.center {
  padding-left: 72%;
}

/* ********************************
          THIRD FRAME STYLES
******************************** */

.frame3 {
  background: #f9f9f9;
  position: relative;
  overflow: hidden;
}

div.calculator.calc3 {
  border-radius: 15px;
  color: #838282;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
}

.background-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 300px;
}

.background-circle.large {
  width: 500px;
  height: 500px;
  border-radius: 500px;
}

.circle--blue {
  top: -150px;
  left: -150px;
  background: linear-gradient(135deg, #5fc5ff 0%, #468dfe 100%);
}

.circle--green {
  bottom: -150px;
  right: -150px;
  background: linear-gradient(135deg, #4af9cb 0%, #39f3c1 100%);
}

.circle--yellow {
  top: -140px;
  right: -140px;
  background: #ffcb89;
}

.circle--red {
  bottom: -140px;
  left: -140px;
  background: #ff6a85;
}

div.screen.screen--calc3 {
  padding-top: 3.5rem;
  height: 25%;
}

div.screen.screen--calc3 p.previous,
div.screen.screen--calc3 p.current {
  color: #838282;
}

div#third--calc {
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 10px;
}

div#third--calc .equals--btn {
  grid-column: 3 / span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.equal-to {
  border-radius: 30px;
  background: #ffcb8a;
  box-shadow: 0 4px 10px 0 rgba(255, 203, 138, 0.5);
  width: 80%;
  height: 80%;
  margin-right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid-item .background--circle {
  background: #f3f3f3;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 0 auto;
  line-height: 3.1rem;
}

/* ********************************
          MEDIA QUERIES
******************************** */
@media (min-width: 400px) {
  div.calculator {
    width: 65%;
  }
}

@media (min-width: 470px) {
  div.calculator {
    width: 60%;
  }
}

@media (min-width: 520px) {
  div.calculator {
    width: 55%;
  }
}

@media (min-width: 600px) {
  .frame {
    width: 80vw;
  }

  div.calculator {
    width: 55%;
  }
}

@media (min-width: 760px) {
  div.calculator {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .frame {
    width: 70vw;
  }
  div.calculator {
    width: 45%;
  }
}

@media (min-width: 1100px) {
  .frame {
    width: 60vw;
  }

  div.calculator {
    width: 35%;
  }
}
