@font-face {
  font-family: "Billabong";
  src: url("./fonts/Billabong.ttf"), url("./fonts/Billabong.woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.frame {
  width: 100vw;
  height: 96vh;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

div.header,
div.footer {
  width: 100%;
  background: #fafafa;
}

div.header {
  height: 14vh;
  border-bottom: 2px solid #ddd;
}

div.top-header {
  display: flex;
  justify-content: center;
}

div.top-header>p {
  flex: 0 0 33%;
  margin: auto;
  font-weight: 700;
  font-size: 0.8rem;
}

div.top-header span {
  flex: 0 0 33%;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  font-weight: 600;
}

div.top-header span img {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

div.top-header>img {
  width: 30px;
  margin-right: 5px;
}

div.header div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

div.header div:nth-child(2) img {
  width: 22px;
}

div.header div:nth-child(2)>div {
  flex: 0 0 33%;
}

div.header div:nth-child(2)>span {
  text-align: right;
  flex: 0 0 27%;
}

div.header div:nth-child(2)>span img {
  margin-left: 5px;
}

.instagram {
  flex: 0 0 40%;
  text-align: center;
  font-family: "Billabong";
  font-weight: 400;
  font-size: 2rem;
  margin: 0 auto;
}

div.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

div.content-header img {
  width: 20px;
}

div.user {
  display: flex;
  align-items: center;
}

div.user p {
  margin: 0;
}

div.avatar {
  width: 53px;
  height: 53px;
  border-radius: 53px;
  margin: 0 6px 0 0;
}

div.avatar,
div.user-dp,
div.user-story-image {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%);
  text-align: center;
}

div.avatar img {
  margin: 3px 0;
  border-radius: 43px;
  border: 2.8px solid #fff;
  width: 43px;
  height: 43px;
}

p#username {
  font-size: 0.9rem;
  font-weight: 700;
}

p.post-title {
  font-size: 0.85rem;
  font-weight: 600;
}

div.content-body {
  width: 100%;
  height: 43vh;
}

div.content-body img {
  width: 100%;
  height: 100%;
}

div.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
  padding: 0 5px;
}

div.action span img {
  margin: 0 5px;
}

div.action img {
  width: 24px;
  height: 24px;
}

div.post-response {
  padding: 0 10px;
}

div.post-response p {
  margin: 2px 0;
}

b#likes {
  font-size: 0.8rem;
  font-weight: 800;
}

p#comment {
  font-size: 0.8rem;
}

p#comment a,
div.bio a {
  text-decoration: none;
  color: #283d76;
}

p#timeline {
  font-size: 0.6rem;
  color: #bbb;
}

p#timeline b {
  color: #000;
}

div.footer {
  height: 8vh;
  position: absolute;
  padding: 0 5%;
  width: 90%;
  bottom: 0;
  border-top: 2px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.footer img {
  width: 30px;
}

/* ********************************
    SECOND FRAME DESIGNS
******************************** */

div.body {
  overflow: auto;
  height: 75vh;
}

div#users-page div {
  flex: 0 0 10%;
}

div#users-page p {
  flex: 0 0 80%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0 auto;
}

div#users-page img {
  width: 15px;
}

#user-header {
  padding: 10px 5px;
}

#user-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.user-image {
  width: 30%;
}

.user-dp {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  margin: 0 1px;
}

div.user-dp img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 2.8px solid #fff;
  margin: 3px 0;
}

div.user-history {
  padding: 0 0 0 5%;
  width: inherit;
}

div.followers {
  display: flex;
  justify-content: center;
}

div.followers span {
  margin: 0 5%;
}

p.counter {
  text-align: center;
  font-weight: 800;
}

p.count-item {
  font-size: 0.75rem;
  color: #999;
}

div.follow {
  margin: 5px 0;
}

button#more-options,
button#follow-btn {
  background: #3796f0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 3px;
}

button#follow-btn {
  padding: 8px 30%;
}

button#more-options {
  padding: 8px 5%;
}

div.bio {
  padding: 0 15px;
}

div.bio p,
div.bio a {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 600;
}

div.statuses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 15px;
}

div.post {
  text-align: center;
  font-size: 0.82rem;
  font-weight: 600;
}

div.post p {
  margin: 5px 0;
}

div.divider-v::before {
  content: "";
  width: 2px;
  display: block;
  height: 33px;
  background: #ddd;
  margin-top: -20px;
}

div.post-image,
div.ig-tv {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2px solid #ddd;
  text-align: center;
  margin: 0 10px;
}

div.ig-tv {
  position: relative;
}

div.post-image img,
div.ig-tv img {
  width: 56px;
  height: 56px;
  border-radius: 60px;
  margin-top: 2px;
}

div.ig-tv img {
  opacity: 0.4;
}

div.ig-tv svg {
  position: absolute;
  top: 5px;
  left: 17px;
  width: 25px;
  text-align: center;
}

div.divider-h::before {
  content: "";
  width: 90%;
  height: 2px;
  display: block;
  margin: 10px auto;
  background: #ddd;
}

div.photo-options {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

div.photo-options img {
  width: 30px;
  height: 30px;
}

div.photos {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

div.photos img {
  height: 30%;
  width: 32.3%;
  margin: 0.5%;
}

/* ********************************
          THIRD FRAME
******************************** */
div.users-status {
  background: #fafafa;
  width: 100%;
  height: 80px;
  display: flex;
}

div.user-story-image {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
}

div.user-story-image img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 3px;
  border: 2px solid #FFF;
}

div.add-comment {
  display: flex;
  align-items: center;
}

div.add-comment img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 5px;
}

div.add-comment p {
  font-size: 0.7rem;
  color: #bbb;
  margin: 0;
}

div.slider {
  display: flex;
  width: 50px;
  margin-left: -8%;
}

div.circle {
  margin: 0 2px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #DDD;
}

div.circle.colored {
  background: #4392F1;
}

/* ********************************
          MEDIA QUERIES
******************************** */
@media (min-width: 600px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 42vw;
    margin: 20px;
  }

  div.statuses {
    width: 39vw;
  }
}

@media (min-width: 1000px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 30vw;
    margin: 10px 5px;
  }

  div.statuses {
    width: 27vw;
  }
}