@font-face {
  font-family: "Billabong";
  src: url("./fonts/Billabong.ttf"),
    url("./fonts/Billabong.woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito',
    sans-serif;
}

.frame {
  width: 100vw;
  height: 100vh;
  background: #FFF;
  position: relative;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
}

div.header,
div.footer {
  width: 100%;
  background: #FAFAFA;
}

div.header {
  height: 16vh;
  border-bottom: 2px solid #DDD;
}

div.top-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


div.top-header>p {
  flex: 0 0 33%;
  margin: auto;
  font-weight: 700;
  font-size: 0.8rem;
}

div.top-header span {
  flex: 0 0 33%;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  font-weight: 600;
}

div.top-header span img {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

div.top-header>img {
  width: 30px;
  margin-right: 5px;
}

div.header div:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

div.header div:nth-child(2) img {
  width: 27px;
}

div.header div:nth-child(2)>div {
  flex: 0 0 33%;
}

div.header div:nth-child(2)>span {
  text-align: right;
  flex: 0 0 27%;
}

div.header div:nth-child(2)>span img {
  margin-left: 5px;
}

div.header div:nth-child(2) p {
  flex: 0 0 40%;
  text-align: center;
  font-family: 'Billabong';
  font-weight: 400;
  font-size: 2.0rem;
  margin: 0 auto;
}


div.footer {
  height: 8vh;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #DDD
}


@media (min-width: 600px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 42%;
    margin: 20px;
  }
}

@media (min-width: 1000px) {
  body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .frame {
    flex: 0 0 32%;
    margin: 10px 5px;
  }
}